.products {
  padding-top: 60px;
  padding-bottom: 30px;
  background: var(--global-color);
  .container {
    max-width: 1320px;
  }
  .products_title1 {
    text-align: center;
    color: var(--menu-hover);
    font-family: Poppins-Regular;
    font-size: 20px;
  }
  .products_title2 {
    text-align: center;
    color: var(--black);
    font-family: AbrilFatface-Regular;
    font-size: 68px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .el-row {
      margin-bottom: 15px;
    }
  }
}
